.sidebar .sidebar_inner ul li a {
    color: #585757;
    display: block;
    padding: 10px 12px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    width: 100%;
    align-items: center;
     display: block !important; 
}